/*----------------------------------------------------------------------------*\
    Input
    .input

\*----------------------------------------------------------------------------*/


/*  Variables
\*----------------------------------------------------------------------------*/


/*  Component
\*----------------------------------------------------------------------------*/

.input {
    appearance: none;
    width: 400px;
    padding: 8px;
    border-radius: 0.25rem;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    max-width: 16px*20;
    &:focus {
        outline: 1px solid black;
    }
}