/*----------------------------------------------------------------------------*\
    Badge
    .avatar

\*----------------------------------------------------------------------------*/


/*  Variables
\*----------------------------------------------------------------------------*/


/*  Component
\*----------------------------------------------------------------------------*/

.avatar {
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-transform: uppercase;
    background: rgb(55, 213, 211) none repeat scroll 0% 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}