/*----------------------------------------------------------------------------*\
    Buttons
    .button

\*----------------------------------------------------------------------------*/


/*  Variables
\*----------------------------------------------------------------------------*/


/*  Component
\*----------------------------------------------------------------------------*/

.button {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    font-family: Poppins;
    padding: 15px 32px;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}