/*----------------------------------------------------------------------------*\
    Badge
    .badge

\*----------------------------------------------------------------------------*/


/*  Variables
\*----------------------------------------------------------------------------*/


/*  Component
\*----------------------------------------------------------------------------*/

.badge {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    line-height: 12px;
    padding: 4px 12px;
    border-radius: 3em;
    font-weight: 700;
    box-sizing: border-box;
    font-family: Poppins;
}